{% extends "base.html" %}
{% load static%}
                {% block header %}
                <div class="header">
                    <h1 style="padding-left: 32px;" class="h1_main"><a href="#">Календарь событий </a></h1>
                </div>
                {% endblock %}
            {% block content %}
            <div class="white">
                <div class="white_content">
                    <div class="calendar-grid">

                    </div>

                    <div class="now_example">
                        <h1 class="h1_main"><a href="#">Текущие занятия </a></h1>
                    </div>

                    <div class="access_example">
                        <label class="custom-checkbox">
                            <input type="checkbox" value="value-1">
                            <span>Сдать финальный проект “Музей”</span>
                          </label>
                    </div>
                </div>
            </div>
            <div class="other">
                <div class="other_content">
                    <div class="event_date">
                        <div>22 апреля, 2021</div>
                        <div class="button_date">
                            <div>
                                <a href="#"><img src="img/icons/prev.png" alt=""></a>
                            </div>
                            <div>
                                <a href="#"><img src="img/icons/next.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="event_calendar">
                        <div><img src="img/icons/event_arrow.png" alt=""> </div>
                        <div>
                            <p>Проверь готовность твоего проекта “Музей” к сдаче ревьюеру</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ru.min.js" integrity="sha512-+yvkALwyeQtsLyR3mImw8ie79H9GcXkknm/babRovVSTe04osQxiohc1ukHkBCIKQ9y97TAf2+17MxkIimZOdw==" crossorigin="anonymous"></script>
<script src="{% static 'js/calendar.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
{% endblock %}
