{% extends "base.html" %}
{% load static%}
            {% block header %}
                <div class="header">
                    <h1 style="padding-left: 32px;" class="h1_main"><a href="/student/courses">Мои курсы</a></h1>
                </div>
            {% endblock %}
            {%  block content %}
            <div class="white">
                <div class="white_content">
                    <h1 class="h1_main" style="margin-bottom: 40px;margin-top: 50px"><a href="#" style="font-size: 32px;">Текущие </a></h1>

                    <div class="overflow overflow_cp" id="style-overflow">
                        <a class="source source-1 a_blur" href="#">

                            <div class="item_blur ul_test_block course_tests_block active">
                                <div class="info_blur course_block">
                                    <p>Базовый JavaScript</p>
                                    <p class="block_progress_bar">
                                        <span>34% выполнено</span>
                                        <progress id="line_progress" max="100" value="34"></progress>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a class="source source-2 a_blur" href="#">
                            <div class="item_blur ul_test_block course_tests_block">
                                <div class="info_blur course_block">
                                    <p>UX-копирайтинг</p>
                                    <p class="block_progress_bar">
                                        <span>94% выполнено</span>
                                        <progress id="line_progress" max="100" value="94"></progress>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a class="a_blur" href="#">
                            <div class="item_blur ul_test_block course_tests_block">
                                <div class="info_blur course_block">
                                    <p>Основы графического дизайна</p>
                                    <p class="block_progress_bar">
                                        <span>87% выполнено</span>
                                        <progress id="line_progress" max="100" value="87"></progress>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a class="a_blur" href="#">
                            <div class="item_blur ul_test_block course_tests_block">
                                <div class="info_blur course_block">
                                    <p>Базовый JavaScript</p>
                                    <p class="block_progress_bar">
                                        <span>34% выполнено</span>
                                        <progress id="line_progress" max="100" value="34"></progress>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a class="a_blur" href="#">
                            <div class="item_blur ul_test_block course_tests_block">
                                <div class="info_blur course_block">
                                    <p>Базовый JavaScript</p>
                                    <p class="block_progress_bar">
                                        <span>34% выполнено</span>
                                        <progress id="line_progress" max="100" value="34"></progress>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a class="a_blur" href="#">
                            <div class="item_blur ul_test_block course_tests_block">
                                <div class="info_blur course_block">
                                    <p>Базовый JavaScript</p>
                                    <p class="block_progress_bar">
                                        <span>34% выполнено</span>
                                        <progress id="line_progress" max="100" value="34"></progress>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <h1 class="h1_main" style="margin-top: 48px;margin-bottom: 40px;"><a href="#" style="font-size: 32px;">Пройденные </a></h1>
                    <div class="overflow overflow_access overflow_cp_access" id="style-overflow">
                        <a class="a_blur" href="">
                            <div class="item_blur ul_test_block course_tests_block">
                                <div class="info_blur course_block">
                                    <p>Аргументация решений</p>
                                    <p class="block_progress_bar">
                                        <span>34% выполнено</span>
                                        <progress id="line_progress" max="100" value="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a class="a_blur" href="#">
                            <div class="item_blur ul_test_block course_tests_block">
                                <div class="info_blur course_block">
                                    <p>Адаптивность</p>
                                    <p class="block_progress_bar">
                                        <span>34% выполнено</span>
                                        <progress id="line_progress" max="100" value="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a class="a_blur" href="#">
                            <div class="item_blur ul_test_block course_tests_block">
                                <div class="info_blur course_block">
                                    <p>Аудит приложения</p>
                                    <p class="block_progress_bar">
                                        <span>34% выполнено</span>
                                        <progress id="line_progress" max="100" value="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a class="a_blur" href="#">
                            <div class="item_blur ul_test_block course_tests_block">
                                <div class="info_blur course_block">
                                    <p>Базовый JavaScript</p>
                                    <p class="block_progress_bar">
                                        <span>34% выполнено</span>
                                        <progress id="line_progress" max="100" value="34"></progress>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a class="a_blur" href="#">
                            <div class="item_blur ul_test_block course_tests_block">
                                <div class="info_blur course_block">
                                    <p>Базовый JavaScript</p>
                                    <p class="block_progress_bar">
                                        <span>34% выполнено</span>
                                        <progress id="line_progress" max="100" value="34"></progress>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a class="a_blur" href="#">
                            <div class="item_blur ul_test_block course_tests_block">
                                <div class="info_blur course_block">
                                    <p>Базовый JavaScript</p>
                                    <p class="block_progress_bar">
                                        <span>34% выполнено</span>
                                        <progress id="line_progress" max="100" value="34"></progress>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="other">
                <div class="other_content">
                    <div class="info_other test_other target target-1">
                        <h1 class="h1_main"><a href="#" style="font-size: 32px;">Информация о курсе</a></h1>
                        <h2 style="margin-bottom: 24px; margin-top: 40px;">Базовый JavaScript</h2>
                        <p style="margin-bottom: 72px;">Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Языкового маленькая то образ жизни подпоясал журчит! Сбить щеке, курсивных последний языком прямо повстречался букв, снова даже, всеми которое
                            это города за над жаренные сих однажды большой? Вершину текстов приставка lorem его единственное рукописи большого однажды прямо, образ предупредила семь!</p>
                        <h2 style="margin-top: 40px;margin-bottom: 40px; display: grid; grid-template-columns: 70% 30%;">Длительность&nbsp <span>160 часов</span> </h2>
                        <h2 style="margin-bottom: 24px;">Приобретаемая компетенция:</h2>
                        <p>Front-end разработчик</p>
                    </div>
                    <div class="info_other test_other target target-2">
                        <h1 class="h1_main"><a href="#" style="font-size: 32px;">Информация о курсе</a></h1>
                        <h2 style="margin-bottom: 24px; margin-top: 40px;">UX-копирайтинг</h2>
                        <p style="margin-bottom: 72px;">Тексты делают продукт узнаваемым. В мире, где сотни продуктов борются за внимание пользователя, значение имеют любые детали: приятный дизайн, заботливые коммуникации, классные шутки в интерфейсах. Всё это помогает найти свою аудиторию
                            и влюбить её в продукт. Но это уже польза в мире заказчика, а не пользователя.</p>
                        <h2 style="margin-top: 40px;margin-bottom: 40px; display: grid; grid-template-columns: 70% 30%;">Длительность&nbsp <span>160 часов</span> </h2>
                        <h2 style="margin-bottom: 24px;">Приобретаемая компетенция:</h2>
                        <p>UX-писатель</p>
                    </div>
                </div>
            </div>
            {% endblock %}

{% block scripts %}
<script src="{% static 'js/hidden.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script>
    jQuery('.ul_test_block').click(function() {
        jQuery('.ul_test_block').removeClass('active');
        jQuery(this).addClass('active');
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
{% endblock %}
